*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.barra-navegacao {
    background-color: #f1b868;
    

}
#barra-navegacao li a{
    color: chocolate;
    transition: all 0.5s;
}
#barra-navegacao li a:hover{
    color: coral;
}
.barra-navegacao button {
    background-color: rgb(124, 75, 0);
    border-radius: 8px;
    color:rgb(241, 182, 104)

}